Doctype
html
    head
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Josefin+Slab:300|VT323&display=swap")
        link(rel="stylesheet", href="style.css")

    body 
        .container
            .page1
            .page2